<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.what.spring.mapper.ThirdPlatFormInfoMapper">
    <insert id="InsertIntoThirdPlatFormInfoRow">
        insert into ThirdPlatFormInfo(thirdparty_id, third_user_name, third_email, third_platform_avatar)
        value (#{id}, #{name}, #{email}, #{avatarUrl})
    </insert>
</mapper>